<div padding light text-center class="footer">
	<h5 text-uppercase margin-top>PRINTABLE IDEA</h5>
	<p>4829 Church Street New York, NY 10013</p>
	<p>+1 360 299 7820 - +1 718 576 2869</p>
	<p>info@printableidea.com - www.printableidea.com</p>
	<div padding-8>
		<button ion-button icon-only clear color="light" class="disable-hover" (click)="linkToURL('https://twitter.com/search?q=printableidea')"><ion-icon name="logo-twitter"></ion-icon></button>
		<button ion-button icon-only clear color="light" class="disable-hover" (click)="linkToURL('https://www.facebook.com/PrintableIdeaClub/')"><ion-icon name="logo-facebook"></ion-icon></button>
		<button ion-button icon-only clear color="light" class="disable-hover" (click)="linkToURL('https://www.instagram.com/printableidea/')"><ion-icon name="logo-instagram"></ion-icon></button>
	</div>
	<p>{{'general.copyright'|translate}}</p>
</div>
